
@{
    ViewData["Title"] = "EditProfile";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Profile.css" />
}
<div class="profile-container">
    <h1>Edit Profile</h1>
    <div class="profile-edit">
        <img src="~/img/avartar1.png" alt="Profile Avatar">
        <form class="edit-form">
            <div class="field">
                <label>Name:</label>
                <input type="text" value="John Doe">
            </div>
            <div class="field">
                <label>Age:</label>
                <input type="number" value="25">
            </div>
            <div class="field">
                <label>Gmail:</label>
                <input type="email" value="john.doe@gmail.com">
            </div>
            <div class="field">
                <label>Description:</label>
                <textarea>Software Developer</textarea>
            </div>
            <div class="field">
                <label>Password:</label>
                <input type="password" value="********">
            </div>
            <div class="buttonzone">
                <button type="submit">Save</button>
                <a asp-controller="Profile" asp-action="Index" class="button cancel">Cancel</a>
            </div>
        </form>
    </div>
</div>

