@{
    var userName = ViewBag.UserName; // ดึงชื่อผู้ใช้จาก ViewBag
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">Navbar</a>
            </div>
            <div class="userzone">
                <div class="dropdown">
                    <button class="dropbtn user-btn">
                            @userName
                    </button>
                    <button class="dropbtn icon-btn"><i class="fa-solid fa-user"></i></button>
                    <div class="dropdown-content">
                        <a asp-controller="Profile" asp-action="Index">Profile</a>
                        <a asp-controller="Login" asp-action="Logout">Logout</a>
                    </div>
                </div>
                <div class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </nav>
    </header>
    <div class="slidebar">
        <i class="bi bi-house navicon"></i><a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <footer>
        <p>
            &copy; 2567 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </p>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
