
@section Styles {
    <link rel="stylesheet" href="~/css/cardtest.css" />
}
<div class="createpos">
    <a asp-controller="Post" asp-action="CreatePost" class="button-createpost">POST</a>
</div>
<div class="card-container">

    <div class="card">
        <img src="~/img/image1.jpg" alt="Board game image">
        <h2>Name of the board game 1</h2>
        <button>view</button>
    </div>
    <div class="card">
        <img src="~/img/image1.jpg" alt="Board game image">
        <h2>Name of the board game 2</h2>
        <button>view</button>
    </div>
    <div class="card">
        <img src="~/img/image1.jpg" alt="Board game image">
        <h2>Name of the board game 2</h2>
        <button>view</button>
    </div>
    <div class="card">
        <img src="~/img/image1.jpg" alt="Board game image">
        <h2>Name of the board game 2</h2>
        <button>view</button>
    </div>
    <div class="card">
        <img src="~/img/image1.jpg" alt="Board game image">
        <h2>Name of the board game 2</h2>
        <button>view</button>
    </div>
    <div class="card">
        <img src="~/img/image1.jpg" alt="Board game image">
        <h2>Name of the board game 2</h2>
        <button>view</button>
    </div>
</div>
