@model IEnumerable<WebApplication1.Models.Post>
@section Styles {
    <link rel="stylesheet" href="~/css/cardtest.css" />
}
<div class="createpos">
    <a asp-controller="Post" asp-action="CreatePost" class="button-createpost">POST</a>
</div>
<div class="card-container">
    @foreach (var post in Model)
        {
            <div class="card">
                <img src="@post.Post_img" alt="Board game image">
                <h2>@post.Post_name</h2>
                <button>view</button>
             </div>
        }
</div>
